@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin '@iconify/tailwind4';

body {
	@apply bg-white text-gray-900 dark:bg-zinc-900 dark:text-gray-100;
}

@theme {
	--font-sans: 'Montserrat Variable', 'sans-serif';
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
	width: 100%;
	max-width: 1024px;
}
