@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin '@iconify/tailwind4';

body {
	@apply bg-white text-gray-900 dark:bg-zinc-900 dark:text-gray-100;
}

body::before {
	content: '';
	@apply absolute top-0 left-0 -z-10 h-full w-full md:h-6/12;
	background-image:
		linear-gradient(#f0f0f0 1px, transparent 1px),
		linear-gradient(to right, #f0f0f0 1px, transparent 1px);
	background-size: 20px 20px;
}

body::after {
	content: '';
	@apply absolute top-0 left-0 -z-10 h-full w-full md:h-6/12;
	@apply bg-gradient-to-t from-white via-white/10 to-transparent;
}

html[data-theme='dark'] body::before {
	background-image:
		linear-gradient(#1e1e1e 1px, transparent 1px),
		linear-gradient(to right, #1e1e1e 1px, transparent 1px);
}

html[data-theme='dark'] body::after {
	@apply from-zinc-900 via-zinc-900/50 to-transparent;
}

@theme {
	--font-sans: 'Montserrat Variable', 'sans-serif';
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
	width: 100%;
	max-width: 1024px;
}
