---
import { Image } from 'astro:assets'
import DarkModeToggle from './DarkModeToggle.svelte'
---

<header class="py-4">
	<div class="container flex items-center justify-between">
		<a href="/">
			<Image src="/img/easter-icon.png" width={128} height={80} alt="Tnoer" loading="eager" />
		</a>

		<div
			class="flex flex-row gap-2 rounded-2xl border border-white/50 bg-white/50 p-2 shadow-md backdrop-blur-2xl dark:border-zinc-800 dark:bg-zinc-900/50"
		>
			<a
				href="https://github.com/toufiqnuur/tnoer"
				target="_blank"
				class="rounded-xl border-r border-b border-blue-200 bg-gradient-to-tl from-blue-100 to-transparent p-2 text-blue-500 dark:border-zinc-700 dark:from-zinc-900 dark:to-zinc-800 dark:text-blue-400"
				aria-label="View source on GitHub"
			>
				<span class="icon-[formkit--github] block text-2xl"></span>
			</a>
			<DarkModeToggle client:idle />
		</div>
	</div>
</header>
