---
import { Image } from 'astro:assets'
// import profile from '../assets/profile-me.png'

const resume = 'https://drive.google.com/file/d/1kbv4Dc_UzXRvkQ2r3AEJsyvfSXONWf4l/view?usp=sharing'
---

<div class="hero py-8">
	<div class="container px-4 md:flex md:flex-wrap md:items-center md:justify-center md:gap-24">
		<div
			class="mx-auto h-56 w-56 overflow-hidden rounded-full border-2 border-black bg-blue-400 md:mx-0"
		>
			<Image
				class="pt-8 pl-1"
				src="/img/profile-me.png"
				width={256}
				height={256}
				alt="Image Profile"
			/>
		</div>
		<div class="mt-8 text-center md:mt-0 md:text-left">
			<div class="text-4xl font-bold tracking-tight md:text-6xl">I&apos;m Toufiq.</div>
			<div class="mt-2 text-xl md:mt-3">Front End Web Developer</div>
			<div class="mt-8 space-x-4">
				<a
					class="cursor-pointer rounded-lg border border-white bg-blue-500 px-4 py-2 text-sm font-medium text-white"
					href={resume}
					target="_blank"
				>
					Download CV
				</a>
				<a
					class="rounded-lg border bg-white px-4 py-2 text-sm font-semibold text-blue-600"
					href="/"
				>
					Get in touch
				</a>
			</div>
		</div>
	</div>
</div>

<style>
	@reference "tailwindcss/theme";
	.hero {
		@apply relative;
	}
	.hero::before {
		content: '';
		@apply absolute -top-32 left-0 -z-10 h-[180%] w-full md:h-[250%];
		background-color: #fff;
		background-image: linear-gradient(#f0f0f0 1px, transparent 1px),
			linear-gradient(to right, #f0f0f0 1px, #fff 1px);
		background-size: 20px 20px;
	}
	.hero::after {
		content: '';
		@apply absolute -top-32 left-0 -z-10 h-[180%] w-full md:h-[250%];
		@apply bg-gradient-to-t from-white via-white/10 to-transparent;
	}
</style>
